* {
  box-sizing: border-box;
}
body {
  background-color: #9b5936;
  margin: 0;
}
#drum-machine {
  display: flex;
  align-items: center;
  justify-content: center;
  /*   background-color: #fff; */
  /*   width: 100vw; */
  height: 100vh;
}
.display {
  border-radius: 4px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 400px;
  padding: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}
.box {
  /*   text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #333;
  border-radius: 4px;
  margin: 10px;
  height: 100px;
  width: 100px;
  font-size: 60px;
  background-color: #8e55ab;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}
.box.active {
  opacity: 0.7;
  transform: scale(0.95);
}
